<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.xulab.openscience.codexui</string>
  <key>ProgramArguments</key>
  <array>
    <string>/opt/homebrew/bin/node</string>
    <string>/Users/xulab/openscience/codexui-xulab/dist-cli/index.js</string>
    <string>--port</string>
    <string>5901</string>
    <string>--no-login</string>
    <string>--no-tunnel</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/xulab/openscience/codexui-xulab</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>
  <key>StandardOutPath</key>
  <string>/tmp/openscience-codexui.out.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/openscience-codexui.err.log</string>
</dict>
</plist>
